#items .search {
    margin-bottom: 1.5rem;
}

#items table input {
    width: 100%;
    min-width: 250px;
}

#items th {
    height: 2rem;
    background: #f9f9f9;
    font-weight: 700;
}

.psi-hidden {
    display: none;
}
