<?xml version="1.0" encoding="UTF-8"?>
<feed
        xmlns:notifReq="http://publications.europa.eu/atom/notificationRequest"
        xmlns:notifEntry="http://publications.europa.eu/atom/notificationEntry"
        xmlns="http://www.w3.org/2005/Atom">
  <title>$feed.title</title>
  <id>$environmentLink</id>
  <link href="$environmentLink" rel="self" type="application/rss+xml"/>
  #if($maxUpdated)
  <updated>$maxUpdated</updated>
    #end
  <author>
    <name>Cellar</name>
  </author>
  <notifReq:startDate>$feed.startDateIso8601Formatted</notifReq:startDate>
  <notifReq:endDate>$feed.endDateIso8601Formatted</notifReq:endDate>
  <notifReq:page>$feed.page</notifReq:page>
  <notifReq:moreEntries>$feed.hasMoreEntries</notifReq:moreEntries>
  #foreach ($item in $feed.feedItems)
  <entry>
    <title>$item.title</title>
    <summary>$item.entrySummary</summary>
    <id>${item.cellarUri}_$item.creationDateIso8601Formatted</id>
    <updated>$item.creationDateIso8601Formatted</updated>
	<notifEntry:cellarId>$item.cellarId</notifEntry:cellarId>
    <link href="$item.cellarUri"/>
	<notifEntry:rootCellarId>$item.rootCellarId</notifEntry:rootCellarId>
	<notifEntry:type>$item.feedItemType</notifEntry:type>
    #if ($item.priority) <notifEntry:priority>$item.priority</notifEntry:priority>
    #end
    <notifEntry:wemiClass>$item.wemiClass</notifEntry:wemiClass>
    #if ($item.wemiClass == "MANIFESTATION")
      <notifEntry:manifestationType>$item.type</notifEntry:manifestationType>
    #end
    <notifEntry:classes>
      #foreach ($class in $item.classes) <notifEntry:class>$class</notifEntry:class>
      #end
    </notifEntry:classes>
    <notifEntry:identifiers>
      #foreach ($identifier in $item.identifiers) <notifEntry:identifier>$identifier</notifEntry:identifier>
      #end
    </notifEntry:identifiers>
    <notifEntry:rootIdentifiers>
      #foreach ($rootIdentifier in $item.rootIdentifiers) <notifEntry:rootIdentifier>$rootIdentifier</notifEntry:rootIdentifier>
      #end
    </notifEntry:rootIdentifiers>
  </entry>
  #end
</feed>