.existing_requests_table_space {
	width: 60% !important;
}

.processing_requests_table_space {
	width: 60% !important;
}

table.dataTable {
	width: 95% !important;
}



.priority{
	width: 5% !important;
}

.groupURI{
	width: 70% !important;
}

.timestamp{
	width: 20% !important;
}

.count{
	width: 5% !important;
}