.choice{
	float:left;
	width:7%;
}
.choice_details{
	width:45%;
}
.option{
	float:left;
}

.option_fields{
	float:left;
	width: 30%;
}

#nextExecutionsTable{
	width: 10%!important;
	border-collapse: separate !important;
}

.error{
	width: 100%!important;
	float:left;
}