/**
* RESET
*/
body {
  margin: 0;
  padding: 0;
  font: 12px Geneva, Verdana, Arial, sans-serif;
  color: #333333;
  background: #E9E9E9;
}

/**
* POSITIONING
*/
.container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  min-width: 800px;
  background: #FFFFFF;
}

.header {
  padding: 10px;
}

.menu {
  padding: 10px;
  margin: 10px 0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 7px;
}

.menu ul li {
  display: inline;
  padding: 7px;
  margin-right: 10px;
}

.content {
  margin: 20px 0;
  padding: 10px 20px;
}

/**
* STYLING
*/
.container .header h1 a {
  font-size: 18px;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.menu ul {
  border-bottom: 2px solid #92C1F0;
}

.menu ul li {
  background-color: #D0E4F6;
}

.menu ul .selected {
  background-color: #92C1F0;
}

.menu ul .selected a {
  font-weight: bold;
  color: #333333;
}

.menu ul a {
  text-decoration: none;
  color: #999999;
}

.menu ul a:hover {
  text-decoration: underline;
  color: #333333;
}

.content .title {
  border-bottom: 2px solid #92C1F0;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content .subtitle {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
  font-style: italic;
  color: #666666;
}

.content .indexing-wrapper .status {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.content .indexing-wrapper .ok {
  border: 3px solid #99CC66;
  background-color: #CFE3C1;
}

.content .indexing-wrapper .failed {
  border: 3px solid #E51010;
  background-color: #F7D9D9;
}

.content .indexing-wrapper .indexing_add_form .text, .content .indexing-wrapper .indexing_search_form .text {
  font-weight: bold;
  display: block;
  margin: 3px 0;
}

.content .indexing-wrapper .indexing_add_form .input, .content .indexing-wrapper .indexing_search_form .input {
  border: 1px solid #666666;
  width: 300px;
  padding: 3px;
}

.content .indexing-wrapper .indexing-search-table {
  width: 100%;
  margin-top: 10px;
}

.content .indexing-wrapper .indexing-search-table thead {
  background-color: #CCCCCC;
}

.content .indexing-wrapper .indexing-search-table thead tr td {
  border-bottom: 2px solid #999999;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.content .indexing-wrapper .indexing-search-table tr td {
  padding: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.content .indexing-wrapper .indexing-search-table tr .col1 {
  width: 15px;
}

.content .indexing-wrapper .indexing-search-table tr .col2 {
  width: 30%;
}

.content .indexing-wrapper .indexing-search-table .item:hover {
  background-color: #D0E4F6;
}

.content .indexing-wrapper .indexing-search-table .selected {
  background-color: #D0E4F6;
}

.content .indexing-wrapper .add-target {
  margin: 10px 0;
}

.content .indexing-wrapper .add-target a {
  color: #666666;
  text-decoration: none;
}

.content .indexing-wrapper .add-target a:hover {
  text-decoration: underline;
}

.content .status {
  font-weight: bold;
  padding-left: 5px;
}

.content .indexingForm {
  margin-top: 10px;
}

.content .indexingForm .button {
  margin: 0 10px;
}

.content .indexingForm .text-input {
  border: 1px solid #666666;
  width: 40px;
}

.content .indexingForm .explanation, .content .indexing-wrapper .explanation {
  color: #CCCCCC;
  font-style: italic;
  font-weight: normal;
}

.content .separator {
  border-bottom: 1px solid #E9E9E9;
  padding: 10px 0;
}

.content .explanation {
  padding: 5px;
}

.footer {
  background: #E9E9E9;
  padding: 7px;
  border-top: 2px solid #999999;
  color: #999999;
}

.footer .buildNumber {
  color: #999999;
  font-weight: bold;
}

.enableIndexingForm, .indexingForm {
  display: inline;
}

.marginBottom {
  margin-bottom: 10px;
}

.content .indexing .menu {
  float: left;
  width: 130px;
  margin: 0 0 0 20px;
  padding: 0;
}

.content .indexing .content {
  margin: 0 0 0 150px;
  padding: 0 0 0 20px;
  border-left: 1px solid #333333;
}

.content .indexing .menu ul {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: square;
}

.content .indexing .menu ul li {
  background-color: #FFFFFF;
  display: list-item;
  margin: 0;
  padding: 0;
}

.content .indexing .menu ul li a {
  text-decoration: none;
  color: #666666;
}

.content .indexing .menu ul .selected a {
  text-decoration: underline;
  font-weight: bold;
  color: #333333;
}

.content .indexing .menu ul li a:hover {
  text-decoration: underline;
}

.content .indexing .wrapper .indexing-table {
  margin: 0;
  padding: 0;
  width: 100%;
}

.content .indexing .wrapper .indexing-table thead {
  background-color: #CCCCCC;
}

.content .indexing .wrapper .indexing-table thead tr td {
  border-bottom: 2px solid #999999;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  padding: 5px;
}

.content .indexing .wrapper .indexing-table tbody .item:hover {
  background-color: #D0E4F6;
}

.content .indexing .wrapper .indexing-table tbody .selected {
  background-color: #D0E4F6;
}

.content .indexing .wrapper .indexing-table tbody .Failed {
  background-color: #FF6161;
}

.content .indexing .wrapper .indexing-table tbody .Failed:hover {
  background-color: #FF6161;
}

.content .indexing .wrapper .indexing-table tbody .item td {
  padding: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.content .indexing .wrapper .type-requests {
  margin: 10px 0;
}

.content .indexing .wrapper .type-requests a {
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.content .indexing .wrapper .type-requests a:hover {
  text-decoration: underline;
}

.content .indexing .wrapper .clear-queue {
  margin: 10px 0;
}

.content .indexing .wrapper .clear-queue a {
  color: #666666;
  text-decoration: none;
}

.content .indexing .wrapper .clear-queue a:hover {
  text-decoration: underline;
}
