#archivesTableContainer {
	/* 	width: 70% !important; */
	margin-top: 20px;
}

.dashboard .filterFieldset {
	border: none !important;
}

table.dataTable {
	width: 95% !important;
}

.filterFieldset {
	width: 75% !important;
	border: none !important;
}

.filterFieldset div {
	display: inline !important;
	margin-right: 20px;
}

.filterFieldset div {
	text-align: center;
}

#cellarId_filter {
	position: relative;
	display: inline-block;
	margin: 20px auto;
}

.filterFieldset input {
	outline: none
}

.filterFieldset input[type="text"] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	background: white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	height: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	width: 170px;
	padding: 3px 23px 3px 8px;
}

.filterFieldset input[type="reset"] {
	background: url('../img/searchFilterCross.png');
	width: 14px;
	height: 14px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 0;
	text-indent: -999px;
	position: absolute;
	right: 8px;
	top: 2px;
	cursor: pointer;
}

.filterFieldset input[type="text"]:invalid {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: white url('../img/searchFilterMG.png') 10px 6px no-repeat;
}

.filterFieldset input[type="text"]:invalid+input[type="reset"] {
	visibility: hidden;
}

#reset_ingestionTime_filter {
	position: relative !important;
}

#reset_archivingTime_filter {
	position: relative !important;
}

fieldset div {
	overflow: visible !important;
}

/* tabs */
#tabs .ui-widget-header {
	background: none !important;
	border: border: 1px solid !important;
	border-color: none !important;
}

#tabs .ui-widget-content {
	background: none !important;
}

#tabs .ui-tabs-vertical {
	width: none !important;
}

#tabs .ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 12em;
}

#tabs .ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}

#tabs .ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
}

#tabs .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
}

#tabs .ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	width: 40em;
}

#tabs .ui-state-active, .ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active {
	background: none !important;
}

#tabs .ui-tabs-vertical .ui-tabs-nav li {
	width: none !important;
	border-right-width: none !important;
}

#tabs {
	width: 100%;
}

#tabs .ui-tabs-vertical .ui-tabs-panel {
	width: 85% !important;
}

#tabs .ui-tabs-nav {
	width: 9% !important;
	float: left !important;
}

#tabs .ui-tabs-panel {
	float: right !important;
	width: 89%;
	border: none !important;
}

.td_head {
    padding: 2px;
    font-weight: 700;
}

[id^=inner_tbl] {
    padding-left: 2px;
     margin: 0 auto;
    width: 80%;
}

[id^=inner_tbl] table,
td,
th {
    border: none !important;
    background-color: #e8e8e8 !important;
}

.td_row_even {
    padding: 2px;
    background-color: #F6F4F0;
}
.td_row_odd {
    padding: 2px;
    background-color: #FFF;
}

.tabFieldSet {
	border: none !important;
	float: left;
	width: 10%;
	
}
[id$="_STATS"]{
	float: right;
	width: 45%;
}
.tabHeader {
    margin: 0 auto;
     width: 50%;
}