html {
	
}

body {
	
}

#threadsInfo {
	width: 60%;
	margin: auto;
}

#tabs-container {
	overflow: hidden;
}

.container {
	
}

.content {
	
}

.tabs-menu {
	float: left;
	clear: both;
}

.package_name {
	width: 60% !important;
}

.groupUri{
	width: 60% !important;
}

.start_time {
	width: 30% !important;
	padding: 0 !important;
}

.priority {
	width: 5% !important;
}

.status {
	width: 5% !important;
}

.waiting_package_name {
	width: 60% !important;
}
.waiting_groupUri {
    width: 60% !important;
}

.waiting_creation_time {
	width: 25% !important;
}

.waiting_priority {
	width: 15% !important;
}

.tabs-menu li {
	height: 30px;
	line-height: 30px;
	float: left;
	margin-right: 10px;
	background-color: #ccc;
	border-top: 1px solid #d4d4d1;
	border-right: 1px solid #d4d4d1;
	border-left: 1px solid #d4d4d1;
}

.tabs-menu li.current {
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid #fff;
	z-index: 5;
}

.tabs-menu li a {
	padding: 10px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

.tabs-menu .current a {
	color: #2e7da3;
}

.tab {
	border: 1px solid #d4d4d1;
	background-color: #fff;
	float: left;
	margin-bottom: 20px;
	margin-top: 50px;
	padding: 20px;
	width:650px;
}

.tab-content {
	width: 100%;
	display: none;
}

#tab-1 {
	display: block;
}

.tooltip {
	outline: none;
}

.tooltip strong {
	line-height: 30px;
}

.tooltip:hover {
	text-decoration: none;
}

.tooltip span {
	z-index: 10;
	display: none !important;
	padding: 14px 20px;
	margin-top: -30px;
	margin-left: 28px;
	width: auto;
	line-height: 16px;
	padding-right: 40px;
}

.tooltip:hover span {
	display: inline !important;
	position: fixed;
	color: #111;
	border: 1px solid #DCA;
	background: #fffAF0;
}

.callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
}
/*CSS3 extras*/
.tooltip span {
	border-radius: 4px;
	box-shadow: 5px 5px 8px #CCC;
}

