.ui-widget {
    font-size: 0.95em;
}
.error {
    color: red;
}

.fileupload-progress {
    margin: 10px 0;
}
.fileupload-progress .progress-extended {
    margin-top: 5px;
}

.fileinput-button
{
    display: inline-flex
}


.fileinput-button span {
    display: block;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#clearErrorMessage{
    color:red;
}
#clearSuccessMessage{
    color:green;
}

.description-field {
    font-weight: bold;
}
.subtitle-info {
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0;
}
