<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %><%--
--%><%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %><%--
--%><%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %><%--
--%><%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %><%--
--%><%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %><%--
--%><%@ attribute name="items" required="true" type="java.util.List"%><%--
--%><%@ attribute name="cssClass" required="true" %><%--
--%><c:if test="${not empty items}"><%--
	--%><div class="${cssClass}" style="zoom:1; position:relative"><%--
		--%><c:choose><%--
			--%><c:when test="${fn:length(items) > 1}"><%--
				--%><ul><%--
					--%><c:forEach items="${items}" var="item"><%--
						--%><li><%--
							--%><spring:message scope="request" code="${item.messageCode}" text="${item.defaultMessage}" arguments="${item.messageArguments}"  /><%--
						--%></li><%--
					--%></c:forEach><%--
				--%></ul><%--
			--%></c:when><%--
			--%><c:otherwise><%--
				--%><spring:message scope="request" code="${items[0].messageCode}" text="${items[0].defaultMessage}" arguments="${items[0].messageArguments}"  /><%--
			--%></c:otherwise><%--
		--%></c:choose><%--
	--%></div><%--
--%></c:if>