.form-container {
  width: 60%;
}

.form-item-small {
  width: 30%;
}

.form-item-big {
  width: 70%;
}

.text {
  display: block;
  width: 100%;
}

.button-container {
  width: 50%;
  text-align: right;
}

.flex {
	display: flex;
}