
.ui-widget {
    font-size: 0.95em;
}


.fileupload-progress {
    margin: 10px 0;
}
.fileupload-progress .progress-extended {
    margin-top: 5px;
}
.error {
  color: red;
}

.fileinput-button .ui-button-icon{
    margin-top: -0.2em;
    margin-left: -0.5em;
}

.start .ui-button-icon{
    margin-top: -0.10em;
    margin-left: -0.5em;
}

.cancel .ui-button-icon{
    margin-top: -0.10em;
    margin-left: -0.5em;
}

.fileinput-button span {
    display: block;

}

.fileinput-button
{
    display: inline-flex
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#clearErrorMessage{
	color:red;
}
#clearSuccessMessage{
    color:green;
}
