.content .nal-wrapper .add-nal {
     height: 150px;
}

.content .nal-wrapper .add-nal .field {
     height: 25px;
}

.content .nal-wrapper .add-nal .field .text {
     float: left;
     width: 250px;
}

.content .nal-wrapper .add-nal .field #ontologyUri{
    width: 300px;
}

.content .nal-wrapper .add-nal .error {
     background: none repeat scroll 0 0 red;
     margin-bottom: 10px;
     margin-top: 10px;
     padding: 6px;
}

.content .nal-wrapper .add-nal .success {
     background: none repeat scroll 0 0 green;
     color: white;
     margin-bottom: 10px;
     margin-top: 10px;
     padding: 6px;
}



#filterFieldset{
    width: 75% !important;
    border: none;
}
#filterFieldset div{
    display:inline !important;
    margin-right: 20px;
}

#filterFieldset div {
    text-align: center;
}
#name_filter{
    position: relative;
    display: inline-block;
    margin: 20px auto;
}
#uri_filter{
    position: relative;
    display: inline-block;
    margin: 20px auto;
}
#filterFieldset input {  outline: none }
#filterFieldset input[type="text"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    width: 170px;
    padding: 3px 23px 3px 8px;
}
#filterFieldset input[type="reset"] {
    background: url('../img/searchFilterCross.png');
    width: 14px;
    height: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 0;
    text-indent: -999px;
    position: absolute;
    right: 8px;
    top: 2px;
    cursor: pointer;
}
#filterFieldset input[type="text"]:invalid {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: white url('../img/searchFilterMG.png') 10px 6px no-repeat;
}
#filterFieldset input[type="text"]:invalid + input[type="reset"] {
    visibility:hidden;
}