.content .embargo .menu {
  float: left;
  width: 90px;
  margin: 0 0 0 20px;
  padding: 0;
}

.content .embargo .content {
  margin: 0 0 0 110px;
  padding: 0 0 0 20px;
  border-left: 1px solid #333333;
}

.content .embargo .menu ul {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: square;
}

.content .embargo .menu ul li {
  background-color: #FFFFFF;
  display: list-item;
  margin: 0;
  padding: 0;
}

.content .embargo .menu ul li a {
  text-decoration: none;
  color: #666666;
}

.content .embargo .menu ul .selected a {
  text-decoration: underline;
  font-weight: bold;
  color: #333333;
}

.content .embargo .menu ul li a:hover {
  text-decoration: underline;
}

.content .embargo .embargo-list-wrapper {
}

.content .embargo .embargo-list-wrapper .text {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

.content .embargo .embargo-list-wrapper .embargo-list-table {
  margin: 0;
  padding: 0;
  width: 100%;
}

.content .embargo .embargo-list-wrapper .embargo-list-table .col1 {
  width: 20px;
}

.content .embargo .embargo-list-wrapper .embargo-list-table .col2 {
  width: 70%;
}

.content .embargo .embargo-list-wrapper .embargo-list-table thead {
  background-color: #CCCCCC;
}

.content .embargo .embargo-list-wrapper .embargo-list-table thead tr td {
  border-bottom: 2px solid #999999;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  padding: 5px;
}

.content .embargo .embargo-list-wrapper .embargo-list-table tbody .item:hover, .content .embargo .embargo-list-wrapper .embargo-list-table tbody .selected {
  background-color: #D0E4F6;
}

.content .embargo .embargo-list-wrapper .embargo-list-table tbody .item td {
  padding: 5px 0;
  border-bottom: 1px solid #CCCCCC;
}

.content .embargo .embargo-list-wrapper .embargo-list-table tfoot tr td {
  padding: 5px 0;
}

.content .embargo .embargo-list-wrapper .embargo-list-table tfoot tr td .checkbox-control {
  margin: 5px;
}

.content .embargo .embargo-list-wrapper .embargo-list-table tfoot tr td .checkbox-control:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content .embargo .search-wrapper .explanation, .content .embargo .embargo-add-wrapper .explanation {
  font-style: italic;
  font-weight: normal;
  color: #CCCCCC;
}

.content .embargo .search-wrapper form, .content .embargo .embargo-add-wrapper forml {
  margin: 10px 0;
}

.content .embargo .search-wrapper form .text, .content .embargo .embargo-add-wrapper form .text {
  display: block;
  font-weight: bold;
}

.content .embargo .search-wrapper form .text-input, .content .embargo .embargo-add-wrapper form .text-input {
  width: 500px;
  border: 1px solid #CCCCCC;
  padding: 3px;
}

.content .embargo .search-wrapper .status {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.content .embargo .search-wrapper .ok {
  border: 3px solid #99CC66;
  background-color: #CFE3C1;
}

.content .embargo .search-wrapper .failed {
  border: 3px solid #E51010;
  background-color: #F7D9D9;
}

.content .embargo .embargo-list-wrapper .embargo-status {
  border: 3px solid #99CC66;
  padding: 5px;
  background-color: #CFE3C1;
  text-align: center;
  font-weight: bold;
  display: none;
  margin-bottom: 10px;
}