.content .log-wrapper {
  height: 750px;
}

.content .log-wrapper .log-select {
  float: left;
  width: 500px;
  height: 300px;
}

#getLog, #clearLogs {
  display: block;
  margin: 10px 510px;
}

.content .log-wrapper .button-wrapper {
  height: 300px;
}

.content .log-wrapper .log-status {
  border: 3px solid #99CC66;
  padding: 5px;
  background-color: #CFE3C1;
  text-align: center;
  font-weight: bold;
  display: none;
  margin-bottom: 10px;
}

.content .log-wrapper .status {
  padding-left: 0;
}

.content .log-wrapper .sorting {
  color: #999999;
  text-decoration: none;
  padding-right: 5px;
}

.content .log-wrapper a:hover {
  color: #333333;
  text-decoration: underline;
}

.content .log-wrapper .logDashBoardTable {
  width: 100%;
  text-align: center;
}

.content .log-wrapper .logDashBoardTable .header {
  font-weight: bold;
  background-color: #CCCCCC;
}

.content .log-wrapper .logDashBoardTable .header td {
  border-bottom: 2px solid #999999;
  padding: 5px;
}

.content .log-wrapper .logDashBoardTable tr .type {
  font-weight: bold;
  background-color: #CCCCCC;
  border-right: 2px solid #999999;
  padding: 5px;
  width: 100px;
}

.content .log-wrapper .logDashBoardTable tr .total {
  font-weight: bold;
  background-color: #CCCCCC;
  border-top: 2px solid #999999;
  padding: 5px;
}