/*
	tree Styler 	 
*/

#tree, #tree ul, #tree li{
	margin:0;
	padding:0;
	list-style:none;
}
#tree{}
#tree ul{
	display:none;
}
#tree li{
	line-height:200%;
	margin-top:1px;
	background:#eee;
	position:relative;
	width:100%;
}
/* IE leaves a blank space where span is added so this is to avoid that */
* html #tree li{
	float:left;
	display:inline;
}

#tree li a{padding-left:20px;}
#tree li span{float:left;position:absolute;top:5px;left:5px;width:13px;height:13px;cursor:auto;font-size:0;}
#tree li span, #tree li span.collapsed{background:url(images/collapsed.gif) no-repeat 0 0;} 
#tree li span.expanded{background:url(images/expanded.gif) no-repeat 0 0;}

/* second level */

#tree li li{
	background:#fff;
}
#tree li li a{padding-left:40px;}
#tree li li span{left:20px;}

/* third level */

#tree li li li a{padding-left:60px;}
#tree li li li span{left:40px;}

/* 4th level */

#tree li li li li a{padding-left:80px;}
#tree li li li li span{left:60px;}
