.editable {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  font-size: 12px;
  padding: 5px;
  resize: both;
  overflow: auto;
}

li {
list-style: disc outside none;
display: list-item;
margin-left: 1em;
}
