#form .options-container {
  padding: 10px;
  border: 3px solid #777777;
  margin-left: 650px;
}

#form .text {
  font-weight: bold;
}

#form #query-field {
  width: 600px;
  height: 300px;
  border: 1px solid #777777;
}

#form .query-wrapper {
  float: left;
}

#form {
  height: 400px;
}

#form #submit {
  display: block;
  margin-top: 10px;
}

.example-query-wrapper {
  margin-bottom: 10px;
}

.prefixes ul {
  font-weight: bold;
}

.prefixes ul li {
  font-weight: normal;
}

.content .sparql .menu {
  float: left;
  width: 130px;
  margin: 0 0 0 20px;
  padding: 0;
}

.content .sparql .content {
  margin: 0 0 0 150px;
  padding: 0 0 0 20px;
  border-left: 1px solid #333333;
}

.content .sparql .menu ul {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: square;
}

.content .sparql .menu ul li {
  background-color: #FFFFFF;
  display: list-item;
  margin: 0;
  padding: 0;
}

.content .sparql .menu ul li a {
  text-decoration: none;
  color: #666666;
}

.content .sparql .menu ul .selected a {
  text-decoration: underline;
  font-weight: bold;
  color: #333333;
}

.content .sparql .menu ul li a:hover {
  text-decoration: underline;
}

.content .sparql .content .wrapper .definition-container {
  margin: 10px 0;
}

.content .sparql .content .wrapper .xslt-container .float-wrapper, .content .sparql .content .wrapper .definition-container .float-wrapper {
  height: 300px;
}

.content .sparql .content .wrapper .xslt-container .text, .content .sparql .content .wrapper .definition-container .text {
  display: block;
  font-weight: bold;
}

.content .sparql .content .wrapper .xslt-container .xslt-select, .content .sparql .content .wrapper .definition-container .definition-select {
  width: 500px;
  height: 300px;
  float: left;
}

.content .sparql .content .wrapper .xslt-container .upload, .content .sparql .content .wrapper .definition-container .upload {
  margin: 10px 0;
  width: 500px;
}

#deleteStylesheet, #deleteDefinition, #printStylesheet, #printDefinition {
  display: block;
  margin: 10px 510px;
}

.content .sparql .content .wrapper .xslt-container .xslt-status, .content .sparql .content .wrapper .definition-container .definition-status {
  border: 3px solid #99CC66;
  padding: 5px;
  background-color: #CFE3C1;
  text-align: center;
  font-weight: bold;
  display: none;
  margin-bottom: 10px;
}

.content .sparql .content .wrapper .config-container .explanation a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}

.content .sparql .content .wrapper .config-container .explanation a:hover {
  text-decoration: underline;
}