/**
* RESET
*/
body {
  margin: 0;
  padding: 0;
  font: 12px Geneva, Verdana, Arial, sans-serif;
  color: #333333;
  background: #E9E9E9;
}

/**
* POSITIONING
*/
.container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  min-width: 800px;
  background: #FFFFFF;
}

.header {
  padding: 10px;
}

.menu {
  padding: 10px;
  margin: 10px 0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 7px;
  border-bottom: 2px solid #92C1F0;
}

.menu ul li {
  display: inline-block;
  margin: 1px;
  padding: 0px;
  border: 1px solid #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  padding: 1px 5px 2px 5px;  
  background-color: #D0E4F6;
}

.content {
  margin: 20px 0;
  padding: 10px 20px;
}

/**
* STYLING
*/
.container .header h1 a {
  font-size: 18px;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.menu ul .selected {
  background-color: #92C1F0;
}

.menu ul .selected a {
  font-weight: bold;
  color: #333333;
}

.menu ul a {
  text-decoration: none;
  color: #999999;
}

.menu ul a:hover {
  text-decoration: underline;
  color: #333333;
}

.content .title {
  border-bottom: 2px solid #92C1F0;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content .subtitle {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
  font-style: italic;
  color: #666666;
}

.content .indexing-wrapper .status {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.content .indexing-wrapper .ok {
  border: 3px solid #99CC66;
  background-color: #CFE3C1;
}

.content .indexing-wrapper .failed {
  border: 3px solid #E51010;
  background-color: #F7D9D9;
}

.content .indexing-wrapper .indexing_add_form .text, .content .indexing-wrapper .indexing_search_form .text {
  font-weight: bold;
  display: block;
  margin: 3px 0;
}

.content .indexing-wrapper .indexing_add_form .input, .content .indexing-wrapper .indexing_search_form .input {
  border: 1px solid #666666;
  width: 300px;
  padding: 3px;
}

.content .indexing-wrapper .indexing-search-table {
  width: 100%;
  margin-top: 10px;
}

.content .indexing-wrapper .indexing-search-table thead {
  background-color: #CCCCCC;
}

.content .indexing-wrapper .indexing-search-table thead tr td {
  border-bottom: 2px solid #999999;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.content .indexing-wrapper .indexing-search-table tr td {
  padding: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.content .indexing-wrapper .indexing-search-table tr .col1 {
  width: 15px;
}

.content .indexing-wrapper .indexing-search-table tr .col2 {
  width: 30%;
}

.content .indexing-wrapper .indexing-search-table .item:hover {
  background-color: #D0E4F6;
}

.content .indexing-wrapper .indexing-search-table .selected {
  background-color: #D0E4F6;
}

.content .indexing-wrapper .add-target {
  margin: 10px 0;
}

.content .indexing-wrapper .add-target a {
  color: #666666;
  text-decoration: none;
}

.content .indexing-wrapper .add-target a:hover {
  text-decoration: underline;
}

#languages.languages {
    width: 90px;
    height: 170px;
}

.content .status {
  font-weight: bold;
  padding-left: 5px;
}

.content .indexingForm {
  margin-top: 10px;
}

.content .indexingForm .button {
  margin: 0 10px;
}

.content .indexingForm .text-input {
  border: 1px solid #666666;
  width: 40px;
}

.content .indexingForm .explanation, .content .indexing-wrapper .explanation {
  color: #CCCCCC;
  font-style: italic;
  font-weight: normal;
}

.content .separator {
  border-bottom: 1px solid #E9E9E9;
  padding: 10px 0;
}

.content .explanation {
  padding: 5px;
}

.footer {
  background: #E9E9E9;
  padding: 7px;
  border-top: 2px solid #999999;
  color: #999999;
}

.footer .buildNumber {
  color: #999999;
  font-weight: bold;
}

.enableIndexingForm, .indexingForm {
  display: inline;
}

.marginBottom {
  margin-bottom: 10px;
}

.content .menu {
  float: left;
  width: 130px;
  margin: 0 0 0 20px;
  padding: 0;
}

.content .content {
  margin: 0 0 0 150px;
  padding: 0 0 0 20px;
  border-left: 1px solid #333333;
}

.content .menu ul {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: square;
}

.content .menu ul li {
  background-color: #FFFFFF;
  display: list-item;
  margin: 0;
  padding: 0;
}

.content .menu ul li a {
  text-decoration: none;
  color: #666666;
}

.content .menu ul .selected a {
  text-decoration: underline;
  font-weight: bold;
  color: #333333;
}

.content .menu ul li a:hover {
  text-decoration: underline;
}







.content .security .menu {
  float: left;
  width: 130px;
  margin: 0 0 0 20px;
  padding: 0;
}

.content .security .content {
  margin: 0 0 0 150px;
  padding: 0 0 0 20px;
  border-left: 1px solid #333333;
}

.content .security .menu ul {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: square;
}

.content .security .menu ul li {
  background-color: #FFFFFF;
  display: list-item;
  margin: 0;
  padding: 0;
}

.content .security .menu ul li a {
  text-decoration: none;
  color: #666666;
}

.content .security .menu ul .selected a {
  text-decoration: underline;
  font-weight: bold;
  color: #333333;
}

.content .security .menu ul li a:hover {
  text-decoration: underline;
}







.content .indexing .wrapper .indexing-table {
  margin: 0;
  padding: 0;
  width: 100%;
}

.content .indexing .wrapper .indexing-table thead {
  background-color: #CCCCCC;
}

.content .indexing .wrapper .indexing-table thead tr td {
  border-bottom: 2px solid #999999;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  padding: 5px;
}

.content .indexing .wrapper .indexing-table tbody .item:hover {
  background-color: #D0E4F6;
}

.content .indexing .wrapper .indexing-table tbody .selected {
  background-color: #D0E4F6;
}

.content .indexing .wrapper .indexing-table tbody .Failed {
  background-color: #FF6161;
}

.content .indexing .wrapper .indexing-table tbody .Failed:hover {
  background-color: #FF6161;
}

.content .indexing .wrapper .indexing-table tbody .item td {
  padding: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.content .indexing .wrapper .type-requests {
  margin: 10px 0;
}

.content .wrapper fieldset {
    border-top:1px solid #c7d7e3;
    padding-top:12px;
    margin-top:8px; 
}


.content .indexing .wrapper .type-requests a {
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.content .indexing .wrapper .type-requests a:hover {
  text-decoration: underline;
}

.content .indexing .wrapper .clear-queue {
  margin: 10px 0;
}

.content .indexing .wrapper .clear-queue a {
  color: #666666;
  text-decoration: none;
}

.content .indexing .wrapper .clear-queue a:hover {
  text-decoration: underline;
}

.noborder {
    border: none;
}
label.error {
		color: red;
}
/* IRIS definition */

/* Initial reset
---------------------------------------------------------- */
html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, dt, dd, p, blockquote, form, fieldset, legend {
        margin: 0;
        padding: 0;
        font:100%/120% "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
ol, ul {
        list-style: none;
}
fieldset, img {
        border:0;
}
input, select, textarea {
        font-size: 100%;
}
/* General
---------------------------------------------------------- */
html {
        font-size:100.01%; 
} 
body {
        background:#fff;
        color:#333;
        font-size:12px;
        min-width:960px;        
}
a {
        color:#3980b3;
        text-decoration:none;
}
a:hover {
        color:#1e5f8e;
        text-decoration:underline;      
}
p {
        padding-bottom:8px;
}
.left { 
        float:left;
}
.right { 
        float:right;
}
.center { 
        display:block; 
        margin:0 auto;
}


/* Forms
---------------------------------------------------------- */
div.form h3 {
        font-size:13px;
        font-weight:bold;
        margin-bottom:16px;
}
div.form fieldset {  
        border-top:1px solid #c7d7e3;
        padding-top:12px;
        margin-top:8px;
}
fieldset div {
        overflow:hidden;
        width:100%;
        margin-bottom:10px;
}
div.form fieldset a {
        text-decoration:underline;
}
div.form label {
        float:left;
        text-align:right;
        margin-right:4px;
        padding-top:3px;
        width:100px;
}
div.form div span {
        color:#666;
        display:block;
        font-size:11px;
        margin:2px 0 0 106px;
}
div.form input, select, textarea {
        font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
        vertical-align:middle;
}
div.form fieldset ul {  
        float:left; 
        padding:2px 0 0 0;
}
div.form fieldset ul li {
        padding:0 0 6px 0;
}
div.form fieldset ul li label { /* used for checkboxes and radiobuttons only */
        float:none;
        text-align:left;
        width:auto;
        vertical-align:middle;
}
div.form fieldset ul li a.more {  /* used for send by email */
        font-weight:bold;
}
input[type="checkbox"] {
        margin:0 0 0 4px;
}
input[type="radio"] {
        margin:0 0 0 4px;
}
div.form .date {
        width:90px;
}
form .icon {
        vertical-align:middle;
}
.form-button {
        margin-left:106px;
        overflow:visible; /* to avoid bug on IE6*/
        padding: 0 6px; /* to avoid bug on IE6*/
}
div.form input.big, textarea.big {
        width:400px;
}
div.form input.small {
        width:50px;
        margin-right:6px;
}
div.form fieldset div.text {
        width:auto;
        margin-bottom:0;
        margin-top:1px;
        line-height:150%;   
}
div.form .icon-settings {
        vertical-align:middle;
        margin-right:6px;
}

/* Table configuration
---------------------------------------------------------- */
table.configuration {
        margin:0;
}
table.configuration thead th {
        border-bottom:1px solid #b2dcf2;
        padding:7px 10px 4px 0;
}
table.configuration thead th a {
        text-decoration:none;
}
table.configuration thead th.checkboxes {
        width:24px;
}
table.configuration thead th .sort {
        vertical-align:middle;
        margin-left:4px;
}
table.configuration td {
        border-top:none;
        padding:7px 10px 4px 0;
}
table.configuration td a {
        text-decoration:none;
}
table.configuration td img.icon {
        margin-right:4px;
        vertical-align:bottom;
}
th.sorted a, th.sortable a {
    background-position: right center;
    display: block;
    width: 100%;
}
th.sortable a {
    background-image: url("../images/arrow_off.png");
    background-repeat: no-repeat;
}
th.order1 a {
    background-image: url("../images/arrow_down.png");
    background-repeat: no-repeat;
}
th.order2 a {
    background-image: url("../images/arrow_up.png");
    background-repeat: no-repeat;
}

/* General table
---------------------------------------------------------- */

table {
        width:100% !important;
        width:99%; /* to avoid IE6 bug */
        border:1px solid #dbdbdb;
        border-collapse:collapse;
        background:#fff;
        margin:0 0 20px 0;
}
table td {
        border-top:1px solid #dbdbdb;
        padding:9px 10px 2px 10px;
        vertical-align:top;
}
table tr.odd td {
        background:#f9f9f9;
}
table thead th {
        font-weight:bold;
        background:#e5e5e5;
        padding:9px 10px 2px 10px;
        text-align:left;
        vertical-align:top;
}
table td.date {
        width: 200px;
}
table th.date {
        width: 200px;
}

.dashboard legend {
    padding: 0 15px;
    font-weight: bold;
}

.dashboard fieldset {
    margin-top: 10px;
    border: 1px solid #999;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.topBlock {
}

.leftSide {
    display: inline-block;
    width: 47%;
    height: 250px;
}

.rightSide {
    height: 250px;
    width:  47%;
    float: right;   
}

.menuItem { 
}

.userMessageInfo, .userMessageSuccess, .userMessageError, .userMessageWarning {
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    clear: both;
    margin: 10px 0;
    padding: 7px 5px 7px 60px;
}
.userMessageInfo {
    background-color: #D8F0F7;
    background-image: url("images/usermsg/info.png");
    color: #00529B;
}
.userMessageSuccess {
    background-color: #DFF2BF;
    background-image: url("images/usermsg/success.png");
    color: #4F8A10;
}
.userMessageError {
    background-color: #FFBABA;
    background-image: url("images/usermsg/error.png");
    color: #D8000C;
}
.userMessageWarning {
    background-color: #FEEFB3;
    background-image: url("images/usermsg/warning.png");
    color: #9F6000;
}

.error {
	color: red;
}